// COLORS //

$black-color:#000;
$dark-color:#263238;
$secondaty-black-color:#2A3246;
$logo-accent-color:#939393;
$grey-color:#F5F5F5;
$secondary-grey-color:#546269;
$light-grey-color:#EEEEEE;
$text-color:#8F95A5;
$white-color:#fff;


